@model IEnumerable<AppUser>
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Index";
    ViewData["activeTab"] = "Users";
}

<table class="table table-hover table-striped table-bordered w-100">
    <thead class="text-center">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @{ 
                        string userRoles = "";
                        foreach (var role in await userManager.GetRolesAsync(user))
                        {
                            userRoles += role + " ";
                        }
                    }
                    @userRoles
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="bt btn-warning">
                        <i class="material-icons">edit</i>
                    </a>
                    <a asp-action="AddRole" asp-route-id="@user.Id" class="bt btn-success">
                        <i class="material-icons">add_circle</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
