@model Brands
@{
    ViewData["Title"] = "Edit";
    ViewData["activeTab"] = "Brand";
}

<form method="post" class="w-100" enctype="multipart/form-data">
    <div class="form-group">
        <label>Current Image</label>
        <br />
        <img src="~/image/@Model.Image" width="300" alt="" />
    </div>
    <div class="form-group">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" class="form-control" accept="image/" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <input type="submit" value="Update" class="btn btn-lg btn-block btn-warning" />
</form>
<a href="/Admin/Brand/Index" class="btn btn-lg btn-block btn-danger">Back</a>
