@model RegistrVM
@{
    ViewData["Title"] = "Resgitration";
    ViewData["activeLink"] = "Shop";
}

@section Links{
    <link href="~/css/login/style.css" rel="stylesheet" />
}

@section Title{
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head-title">
                    <h1>Registration</h1>
                </div>
            </div>
        </div>
    </div>
}

<div style="clear: both;"></div>
<!-- Login Section Start -->
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="registr-h1 text-center">registration</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="UserName">Username*</label>
                        <input class="text-input form-control" type="text" asp-for="UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email*</label>
                        <input class="text-input" type="text" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password*</label>
                        <input class="text-input" type="password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password*</label>
                        <input class="text-input" type="password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <input class="input-btn" type="submit" value="Registr">
                </form>
                <a href="/Auth/Login">Log In!</a>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<!-- Login Section End -->

@section Scripts{
    <script src="~/js/login/main.js"></script>
}